<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - players_catalog</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/players_catalog.styles.css" asp-append-version="true" />
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Katalog Graczy</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Player" asp-action="Index">Gracze</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Coach" asp-action="Index">Trenerzy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Team" asp-action="Index">Drużyny</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        @if (Context.Session.GetString("userName") == null)
                        {
                            <li class="nav-item">
                                <a class="nav-link btn btn-outline-light me-2" asp-area="" asp-controller="Login" asp-action="Login">Zaloguj się</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn btn-outline-light" asp-area="" asp-controller="Login" asp-action="Register">Zarejestruj się</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <span class="navbar-text text-light me-2">Zalogowany jako: @Context.Session.GetString("userName")</span>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn btn-outline-light" asp-area="" asp-controller="Login" asp-action="Logout">Wyloguj się</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container flex-grow-1">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-dark text-white py-3">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    &copy; 2024 - Katalog Graczy | <a href="@Url.Action("Privacy", "Home")" class="text-white">Privacy</a>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
