@{
    ViewData["Title"] = "Strona Główna";
}

<div class="text-center">
    <h1 class="display-4">Witamy w Katalogu Piłkarzy</h1>
    <p class="lead">Odkryj świat piłki nożnej dzięki naszemu kompleksowemu katalogowi piłkarzy, trenerów i zespołów.</p>

    <p>
        Ta aplikacja internetowa oferuje scentralizowaną platformę do zarządzania danymi związanymi z piłką nożną.
        Dzięki intuicyjnemu interfejsowi, możesz przeglądać katalog piłkarzy, który zawiera szczegółowe informacje takie jak imię, wiek, pozycja na boisku i przynależność do zespołu.
        Możesz również eksplorować bazę trenerów, sprawdzając ich doświadczenie oraz zespoły, którymi zarządzają.
        Aplikacja pozwala na dodawanie nowych piłkarzy i trenerów, edytowanie ich danych oraz usuwanie, jeśli zajdzie taka potrzeba.
    </p>

    <p>
        Kluczową funkcjonalnością jest możliwość zarządzania zespołami piłkarskimi.
        Zespoły składają się z piłkarzy i trenerów, a aplikacja umożliwia łatwe przypisywanie trenera do zespołu, jak również dodawanie piłkarzy do drużyn.
        Ułatwia to utrzymywanie aktualnych składów oraz śledzenie ruchów piłkarzy pomiędzy różnymi zespołami.
    </p>
</div>
